<section>
  <div id="conversationsindex">
    <div class="container">
      <h1> Current Conversations </h1>
      <% for conversation in @conversations %>
        <li id="conversations"><%= link_to conversation.subject, conversation_path(conversation) %></li>
      <% end %>
      <%= link_to "new conversations", new_conversation_path %>
    </div>
  </div>
</section>
