<div class="dropdown notification-dropdown">
  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1" type="button"
  aria-haspopup="true" aria-expanded="true">
    <%= current_user.notifications.count %>
    <span class="glyphicon glyphicon-flag"></span>
  </button>
  <ul class="dropdown-menu" aria-labeledby="dropdownMenu1">
    <li class="dropdown-header text-center">Notifications</li>
      <%= current_user.notifications.order('created_at DESC') %>
    <li class="divider" role="separator"></li>
    <li class="text-center"><%= link_to 'View All', notifications_path %></li>
  </ul>
</div>
