<section>
  <div id="notificationsindex"
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <% @notifications.each do |notification| %>
            <%= render 'notification', notification: notification %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
