<h1>Users#edit</h1>

<%= form_for @user do |f| %>
<div class="row">
  <div class="form-group">
    <%= f.text_field :email, class: "form-control", placeholder: "Email", autofocus: true %>
  </div>
</div>
<center><%= f.submit "Save", class: "btn btn-success" %></center>
<% end %>
