<section>
  <div id="aboutus">
    <div class="container-small">
      <h1 id="title">ABOUT US</h1>
      <div class="row">
        <div class="col-xs-6 col-md-4">
          <%= image_tag("sean.jpg") %>
        </div>
        <div class="cl-xs-6 col-md-8 users">
          <h1> Sean Van Ho </h1><br><br>
          <p> Sean is an English-major who turned to sports business but quickly
              realized it was like any other job. So he then turned to sales which
              ran its course after 5 years. He's now looking at becoming a developer
              to find a new life inspired by creating and entrepreneurship.</p>
        </div>
      </div><br>

      <div class="row">
        <div class="col-xs-6 col-md-4">
          <%= image_tag("bob.jpg") %>
        </div>
        <div class="cl-xs-6 col-md-8 users">
          <h1> Bob Kliger </h1><br><br>
          <p> Bob has worked as a musician, a strategic marketing consultant
              and owned and ran a systems consulting firm of 40 people. He lives in
              Berkeley with his wife and 2 stepsons. He counts surviving WDI as one
              of his proudest moments (assuming that he does survive).</p>
        </div>
      </div><br>

      <div class="row">
        <div class="col-xs-6 col-md-4">
          <%= image_tag("hila.jpg") %>
        </div>
        <div class="cl-xs-6 col-md-8 users">
          <h1> Hila Vaisler </h1><br><br>
          <p> Hila is an Industrial Engineer with a major in Information Systems.
              She worked as a VBA Developer and Business Analyst at Ally Bank, Kodak and
              Sanmina-SCI. Currently living in Sunnyvale with her family and about to
              graduate from the Web Development Immersive program at General Assembly and
              will be available for hire.</p>
        </div>
      </div><br>

      <div class="row">
        <div class="col-xs-6 col-md-4">
          <%= image_tag("sam.jpg") %>
        </div>
        <div class="cl-xs-6 col-md-8 users">
          <h1> Sam Huang </h1><br><br>
          <p> Sam graduated SF State with a degree in International Business.
              He originally wanted to move overseas and teach english, but started
              selling cars in his senior year in college. Fast forward 4 years and
              Sam was still selling cars. Wanting to start a family, he knew he
              didn't want to live the retail life, so he quit and started working
              for the collections department at Lending Club. It wasn't his dream
              job, and now he's at General Assembly to acquire a new skill and
              see where life takes him.</p>
        </div>
      </div><br>

    </div>
  </div>
</section>
