<section>
  <div id="aboutus">
    <div class="container-small">
      <h1 id="title">ABOUT US</h1>
      <div class="row">
        <div class="col-xs-6 col-md-4">
        </div>
        <div class="cl-xs-6 col-md-8 users">
          <h1> Sean Van Ho </h1><br><br>
          <p> sdjklafds;fkds; fkads;l fdsa;lfk ;dsa fjdaspfke;l fkdsal;jf ;dsalk fsdl;a fkdsa</p>
        </div>
      </div><br>

      <div class="row">
        <div class="col-xs-6 col-md-4">
        </div>
        <div class="cl-xs-6 col-md-8 users">
          <h1> Bob Kliger </h1><br><br>
          <p> sdjklafds;fkds; fkads;l fdsa;lfk ;dsa fjdaspfke;l fkdsal;jf ;dsalk fsdl;a fkdsa</p>
        </div>
      </div><br>

      <div class="row">
        <div class="col-xs-6 col-md-4">
        </div>
        <div class="cl-xs-6 col-md-8 users">
          <h1> Hila Vaisler </h1><br><br>
          <p> sdjklafds;fkds; fkads;l fdsa;lfk ;dsa fjdaspfke;l fkdsal;jf ;dsalk fsdl;a fkdsa</p>
        </div>
      </div><br>

      <div class="row">
        <div class="col-xs-6 col-md-4">
        </div>
        <div class="cl-xs-6 col-md-8 users">
          <h1> Sam Huang </h1><br><br>
          <p> sdjklafds;fkds; fkads;l fdsa;lfk ;dsa fjdaspfke;l fkdsal;jf ;dsalk fsdl;a fkdsa</p>
        </div>
      </div><br>

    </div>
  </div>
</section>
