<div id="splash">
  <div class="col-sm-8 col-md-8 col-lg-8 tint" id="office">
    <h1>Welcome to GA-Social</h1>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <div class="child" id="whiteboard">
      <h2>Insert background image 2</h2>
    </div>
    <div class="child" id="class">
      <h2>Insert background image 3</h2>
    </div>
  </div>
</div>
