<div id="splash">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8" id="office">
      <h1>Welcome to GA-Social</h1>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="row" id="whiteboard">
        <h2>Insert background image 2</h2>
      </div>
      <div class="row">
        <h2>Insert background image 3</h2>
      </div>
    </div>
  </div>
</div>
