<!-- 
<%= link_to "Sign In", new_user_session_path %>
<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %> -->

<div class="jumbotron">
  <h1>Welcome to GA-Social</h1>
  <h2>Where alumni students can stay in touch</h2>
</div>
