<section>
  <div id="splash">
    <div class="jumbotron">
      <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8" id="office">
          <h1>Welcome to GA-Social</h1>
        <div class="col-sm-12 col-md-4 col-lg-4"
          <h2>Where alumni students can stay in touch</h2>
        </div>
      </div>
    </div>
  </div>
</section>
