<!-- This partial is called in the new.js.erb which pops up the modal  -->

<% @post = Post.new %>
<% @user = current_user %>
<%= form_for @post do |f| %>
    <div class="row">
      <div class="well col-md-4 col-md-offset-4">
        <div class="form-group">
          <%= f.text_area :body, class: "form-control", placeholder: "Body", autofocus: true %>
        </div>
        <div>
          <input type="hidden" role="uploadcare-uploader" name="post[image]"
           value="<%= @post.image %>"
           data-crop="disabled"
           data-preview-step="true"
           data-images-only="true" />
        </div>
      <div>
        <center><%= f.submit "Save", class: "btn btn-success" %></center>
      </div>
    </div>
  <% end %>
</div>
