<!-- this view is no longer used -->
<section>
  <div id="postnew">
    <div class="container">
      <h1>Add New Post</h1>
      <ul class="form-fields">
        <%= simple_form_for @post do |f| %>
            <%= f.input :body, class: "form-control", placeholder: "Enter new post...", autofocus: true %>
            <%= f.file_field :avatar %>
            <%= f.submit "Save", class: "btn btn-success" %>
        <% end %>
      </ul>
    </div>
  </div>
</section>
