<h1>Posts#show,</h1>
<p>Find me in app/views/posts/show,.html.erb</p>

<%= @post.body %>

 <%= link_to 'Add a Comment', new_comment_path(@post), class: 'btn btn-primary btn-lg' %>

<% if @comments %>
  <%= render @comments %>
<% end %>
