<section>
  <div class="container">
    <div id="postshow">
      <div>
        <%= @post.user.first_name %>
        <%= @post.body %><br /><br />
        <%= link_to 'Add a Comment', new_comment_path(@post), class: 'btn btn-primary' %>
      </div><br /><br />
        <% if @comments %>
          <%= comments_tree_for @comments %>
        <% end %>
    </div>
  </div>
</section>
