@font-face{
    font-family: 'News_706';
    src: font-url("news_706.ttf") unquote("format('truetype')");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'PDF_in_Text';
    src: font-url("pfdintextcomppro-bold.ttf") unquote("format('truetype')");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Circular';
    src: font-url("circular.otf") unquote("format('opentype')");
    font-weight: normal;
    font-style: normal;
}
