// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*--------------------------------- NAVBAR -----------------------------------*/
#mainNav {

  #notifications {
    margin-top: 20px;
  }

  #notificationlinks {
    a {
      color: blue;
      font-size: 15px;
    }
    a:hover,
    a:focus {
      color: green;
      font-weight: bold;
      font-size: 17px;
      font-color: black;
    }
  }

  .navbar-toggle {
    margin-top: 20px;
  }

  a {
    color: white;
    font-weight: 450;
    font-size: 14px;
  }

  .container-fluid {
    background-color: black;
  }

  .navbar {
    height: 40px;
  }

  .notification-dropdown {
    margin-top: 10px;

    button {
      border: none;
    }
  }

  .navbar-collapse .navbar-right {
    font-family: 'News_706';
    margin-top: -17px;

    a:hover,
    a:focus {
      color: green;
      font-weight: bold;
      font-size: 17px;
      font-color: black;
    }

  }

  /*navbar brand text properties*/
  .navbar-default .navbar-header .navbar-brand {
      text-transform: uppercase;
      font-family: 'PDF_in_Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: 700;
      font-size: 30px;
      color: white;
      margin-top: 3px;
  }

  .page-scroll {
    position: fixed;
    left: 50px;
  }

  .brand {
    position: fixed;
    width: 30px;
    top: 10px;
    left: 15px;
  }

  .dropdown {
    margin-top: -10px;
  }

  .dropdown-menu  {
    a {color: black;}
  }

  .fa {
    font-size: 23px;
    margin-top: 8px;
  }

  .caret {
    border-width: 7px;
  }

}

/*--------------------------------- GLOBALS ----------------------------------*/
  section {
      padding-top: 100px;
  }/*closes variables*/

  #flash-error {
    color: red;
  }
  #flash-notice {
    color: green;
  }

/*--------------------------- START of USER INDEX ----------------------------*/
  #userindex {
    font-size: 15px;

    @media (min-width: 768px) {
      .container-small {
        width: 700px;
        margin: 0 auto;
      }
    }

    .row {
      border-style: ridge;
      border-width: .3px;
      -webkit-box-shadow: 0 8px 6px -6px #70010e;
  	  -moz-box-shadow: 0 8px 6px -6px #70010e;
  	  box-shadow: 0 8px 6px -6px #70010e;
    }

    .users {
      position: relative;
    }

    .city {
      font-family: 'circular';
      color: gray;
      position: absolute;
      top: -10px;
      right: 10px;
    }

    img {
      height: 150px;
      margin: 15px;
    }

    h1 {
      margin-top: -3px;
      margin-bottom: -25px;
      color: black;
      padding-top: 10px;
      text-transform: uppercase;
      font-family: 'PDF_in_Text'
    }

    .fa-icon {
      color: navy;
    }

    h3 {
      font-family: "News_706"
    }

    a {
      color: black;
    }

    a:hover,
    a:focus {
      color: black;
      font-color: black;
    }

  }

/*------------------------- SIGN IN OUT BACKGROUND ---------------------------*/
#background {
  background: image-url("signin-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100vh;
  padding-top: -10px;
}

/*-------------------------- START of SIGN IN VIEW ---------------------------*/
#signin {
  position: absolute;
  width: 370px;
  margin: 0 auto;
  vertical-align: middle;
  border-radius: 10px;
  padding: 40px;
  box-shadow: inset 0 0 0 1000px rgba(255,255,255,.92);

  margin: -185px 0 0 -185px;
  left: 50%;
  top: 50%;

  .form-fields {
    align-items: center;
    width: 255px;
  }

  .col-xs-3 {
    width: 255px;
  }

  .btn-primary {
    width: 216px;
  }
}

/*-------------------------- START of SPLASH VIEW ----------------------------*/
#splash {
  margin-top: -3px;
  text-align: center;

  #office-blurb {
    font-family: 'News_706';
    font-size: 1.5rem;
    color: white;
    width: 490px;
    margin: 0 auto;
  }

  .jumbotron {
    margin-top: -45px;
  }

  #office {
    background: image-url("office-background.jpg");
    background-size: cover;
    height: 501px;
    align-items: center;
  }

  h1 {
    font-family: 'PDF_in_Text';
    font-size: 80px;
    color: white;
    margin: 0 auto;
    padding-top: 15%;
  }

  #main-btn {
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Circular';
    padding: 20px;
    -webkit-box-shadow: 0 8px 6px -6px #70010e;
	  -moz-box-shadow: 0 8px 6px -6px #70010e;
	   box-shadow: 0 8px 6px -6px #70010e;
  }

  .child {
    height: 250px;
    margin-right: -15px;
    color: white;
    padding-top: 90px;
    font-family: 'News_706';
  }

  #whiteboard {
    background: image-url("whiteboard.jpg");
    background-size: cover;
    background-color: rgba(128,0,0,.5);
    margin-left: -14px
  }

  #class {
    background: image-url("class.jpg");
    background-size: cover;
    margin-top: 1px;
    margin-left: -14px
  }

  .sides {
    font-family: 'PDF_in_Text'
  }

  .side-btn {
    font-family: 'Circular';
  }

  #spotlight {
    margin-top: 481px;
    font-family: 'Circular';
    background-color: #ececec;
    height: 330px;
    align: left;

    .instructors {
      display: inline-block;
      padding: 10px;
    }

    h4 {
      font-color: black;
      padding-top: 45px;
    }
  }

}

/*--------------------------- START of USER SHOW -----------------------------*/
  #usershow {

    .row {
      border-style: ridge;
      border-width: .3px;
      -webkit-box-shadow: 0 15px 6px -6px #70010e;
  	  -moz-box-shadow: 0 15px 6px -6px #70010e;
  	  box-shadow: 0 15px 6px -6px #70010e;
    }

    hr {
    align-self: center;
    border: 0;
    height: 5px;
    // background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    }

    img {
      width: 100%;
    }

    h1 {
      font-family: "PDF_in_Text";
      text-transform: uppercase;;
    }

    .city {
      font-family: 'circular';
      color: gray;
      position: absolute;
      top: -10px;
      right: 10px;
    }

    .fa-icon {
      color: navy;
    }

    a {
      color: white;
    }

  }

  /* comments on comments indentation */
  .replies {margin-left: 50px;}

/*---------------------- START of NOTIFICATIONS INDEX ------------------------*/
#notificationsindex {
  background-color: white;

  #notification-index-list {
    margin-top: 1em;
    list-style: none;

    li {
      margin-top: 1em;
      padding: 1em;
      background-color: beige;
    }
  }

}

/*--------------------------- START of POST INDEX ----------------------------*/
  #postsindex {
    h1 {
      margin-top: -20px;
      font-size: 60px;
      text-transform: uppercase;
      text-align: center;
      font-family: "PDF_in_Text";
    }

    .fa-trash {
      color: red;
      font-size: 1.3em;
    }

    .fa-pencil-square {
      color: green;
      font-size: 1.2em;
    }

    .fa-pencil-square-o {
      font-size: 1.2em;
    }

    #search {
      font-size: 1.2em;
    }

    #spost {
      font-size: 1.2em;
    }

    .postrows {
      margin: 2px;
    }

  }

/*--------------------------- START of POST NEW ------------------------------*/
  #postnew {
    h1 {
      margin-top: 50px;
    }
  }

/*--------------------------- START of PASSWORD NEW ---------------------------*/
  #passwordnew {
    position: absolute;
    width: 370px;
    margin: 0 auto;
    vertical-align: middle;
    border-radius: 10px;
    padding: 40px;

    box-shadow: inset 0 0 0 1000px rgba(255,255,255,.92);
    margin: -185px 0 0 -185px;
    left: 50%;
    top: 50%;

    h4 {
      font-family: 'Circular'
    }

    .form-fields {
      width: 255px;
    }

    .col-xs-3 {
      width: 255px;
    }

    .btn-primary {
      width: 216px;
    }

  }

/*-------------------------- START of COMMENT NEW ----------------------------*/
  #commentnew {
    font-family: 'Circular'
  }

/*--------------------------- START of USER EDIT -----------------------------*/
  #useredit {

    .container {
      margin: 0 auto;
    }

    h1 {
      font-family: 'PDF_in_Text';
      text-transform: uppercase;
    }

    .form-fields {
      width: 500px;
    }

  }

  /*--------------------------- START of ABOUT US ----------------------------*/
    #aboutus {
      font-size: 15px;

      @media (min-width: 768px) {
        .container-small {
          width: 700px;
          margin: 0 auto;
        }
      }

      .row {
        border-style: ridge;
        border-width: .3px;
        -webkit-box-shadow: 0 8px 6px -6px #70010e;
    	  -moz-box-shadow: 0 8px 6px -6px #70010e;
    	  box-shadow: 0 8px 6px -6px #70010e;
      }

      img {
        height: 150px;
        margin: 15px;
      }

      h1 {
        margin-top: -3px;
        margin-bottom: -25px;
        color: black;
        padding-top: 10px;
        text-transform: uppercase;
        font-family: 'PDF_in_Text'
      }

      #title {
        margin-top: -80px;
        margin-bottom: 40px;
        font-family: "PDF_in_Text";
        font-size: 70px;
        text-align: center;
      }

    }

/*------------------------ START of COMMENTS INDEX ---------------------------*/
#conversationsindex {
  background-color: white;

  h1 {
    font-family: "PDF_in_Text";
    text-transform: uppercase;
    font-size: 55px;
  }

  #conversations {
    margin-top: 1em;
    list-style: none;
  }

  li {
    margin-top: 1em;
    padding: 1em;
    background-color: beige;
    width: 500px;
  }

}
