// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#mainNav {
  /*navbar a tag properties*/

  a {
    color: white;
    font-weight: 450;
    font-size: 17px;
  }

  /*navbar drop down*/
  a:hover,
  a:focus {
    color: green;
    font-weight: bold;
    font-size: 17px;
    font-color: black;
  }

  .container-fluid {
    background-color: black;
  }

  .navbar {
    height: 40px;
  }

  .navbar-collapse .navbar-right {
    font-family: 'News_706';
    font-size: 2px;
    margin-top: -20px;
  }

  /*navbar text properties*/
  .navbar-default .navbar-header .navbar-brand {
      text-transform: uppercase;
      font-family: 'PDF_in_Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: 700;
      font-size: 30px;
      color: white;
      margin-top: 3px;
  }

  /*navbar text changes color on hover*/
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: green;
  }

  /*navbar li changes color on hover*/
  .navbar-default .nav > li>a:hover,
  .navbar-default .nav>li>a:focus:hover {
      color: green;
  }

  .page-scroll {
    position: fixed;
    left: 70px;
  }

  .brand {
    position: fixed;
    width: 30px;
    top: 10px;
    left: 35px;
  }

  .dropdown {
    margin-top: -10px;
  }

  .dropdown-menu  {
    a {color: black;}
  }

  .fa {
    font-size: 23px;
    margin-top: 8px;
  }

  .caret {
    border-width: 7px;
  }

} /*closes navbar*/


/*global variables*/
  section {
      padding-top: 100px;
  }/*closes variables*/

/* Start of user#index view */
  .userindex {

    img {
      width: 100%;
    }

    h1 {
      margin-top: -3px;
      color: black;
    }

    a {
      color: black;
    }

    a:hover,
    a:focus {
      color: black;
      font-color: black;
    }

  }

/* Start of sign in view */
#background {
  background-image: url(signin-background.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100vh;
  padding-top: -10px;

#signin {
  position: absolute;
  width: 370px;
  margin: 0 auto;
  vertical-align: middle;
  border-radius: 10px;
  padding: 40px;
  box-shadow: inset 0 0 0 1000px rgba(255,255,255,.92);

  margin: -185px 0 0 -185px;
  left: 50%;
  top: 50%;
}

  .container {
    margin: -50px 0 0 50px;
    left: 50%;
    top: 50%
  }

  .form-fields {
    align-items: center;
    width: 255px;
  }

  .col-xs-3 {
    width: 255px;
  }

  .btn-primary {
    width: 216px;
  }

}

/* Start of splash view */
#splash {
  margin-top: 54px;
  text-align: center;

  #office-blurb {
    font-family: 'News_706';
    font-size: 20px;
    font-weight: bold;
    color: white;
    width: 490px;
    margin: 0 auto;
  }

  .jumbotron {
    margin-top: -45px;
  }

  #office {
    background-image: url(office-background.jpg);
    background-size: cover;
    height: 462px;
    align-items: center;
  }

  h1 {
    font-family: 'PDF_in_Text';
    font-size: 80px;
    color: #ad0115;
    margin: 0 auto;
    padding-top: 15%;
  }

  #main-btn {
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Circular';
    padding: 20px;
    -webkit-box-shadow: 0 8px 6px -6px #70010e;
	  -moz-box-shadow: 0 8px 6px -6px #70010e;
	   box-shadow: 0 8px 6px -6px #70010e;
  }

  .child {
    height: 250px;
    margin-right: -15px;
    color: white;
    padding-top: 90px;
    font-family: 'News_706';
  }

  #whiteboard {
    background-image: url(whiteboard.jpg);
    background-size: cover;
    background-color: rgba(128,0,0,.5);
    margin-top: -20px;
    margin-left: -14px
  }

  #class {
    background-image: url(class.jpg);
    background-size: cover;
    margin-top: -18px;
    margin-left: -14px
  }

  .sides {
    font-family: 'PDF_in_Text'
  }

  .side-btn {
    font-family: 'Circular';
  }

}

/* Start of user#show view */
  .usershow {

    img {
      width: 100%;
    }

  }

  .replies {margin-left: 50px;}
  .postindex {
    h1 {
      margin-top: 50px;
    }
  }

  .postnew {
    h1 {
      margin-top: 50px;
    }
  }
